{% extends 'base.html' %}
{% load static %}
{% block title %}Резюме{% endblock %}
{% block head_nav %}
        {% include 'base_header.html' %}
{% endblock head_nav %}

{% block content %}
<div class="page-title">
    <h3 class="h3 bold" style="padding: 0px 40px; margin-bottom: 18px; ">Резюме</h3>
    <hr class="line" style="margin: 0; margin-bottom: 44px;">
</div>

<section class="section-container">
    <div class="details-container">
    <div class="details-table">
    <div class="details-content detailsL">
    <p class="p1 bold" style="margin: 0;">Прізвище Ім'я</p>
    <p class="p1 bold" style="margin: 0;">Місцезнаходження</p>
    <p class="p1 bold" style="margin: 0;">Файл резюме</p>
    </div>

    <div class="details-content detailsLine">
    <div class="pseudo-line"></div>
    <div class="pseudo-line"></div>
    <div class="pseudo-line"></div>
    </div>

    <div class="details-content detailsR">
    <p class="p1 regular" style="margin: 0;">{{resume.lname}} {{resume.fname}}</p>
    <p class="p1 regular" style="margin: 0;">{{resume.location}}</p>

        {% if request.user.resume.upload_file.url != null %}
        <div class="align-content" style="margin: 0;">
            <a href="{{request.user.resume.upload_file.url}}" class="p1 regular download-link" style="margin: 0;" download>Завантажити</a>
                <span class="icon" style=" width: 1.25em; height: 1.25em;">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" style=" width: 1.25em; height: 1.25em;" aria-hidden="true" focusable="false" viewBox="0 0 384 512">
                        <path fill="#071013" d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/></svg>
                </span>
        </div>
        {% else %}
            <p class="p1 regular" style="margin: 0;">Файлу немає</p>
        {% endif %}
    </div>
    </div>

    <div>
        <a href="{% url 'resume' %}"><button class="button" style="width: 217px; margin-top: 14px">Редагувати</button></a>
    </div>
    </div>
</section>

{% endblock content %}

{% block foot_nav %}
        {% include 'base_footer.html' %}
{% endblock foot_nav %}