{% load static %}

<html>

<head>
    <meta charset="utf-8" />
    <title>Вхід</title>
    <link rel="stylesheet" href="{% static 'auth.css' %}">
    <style>
        .bg
        {
            background-image:url({% static 'sky.jpg' %});
            background-repeat:no-repeat;
            background-size:100%;
        }
    </style>

</head>


<body class="bg">

  <div class="split left">
      <form class="container">
        <h3 class="h3 bold" style="margin-bottom: 12px;">Вхід</h3>

        <hr class="line">

          <div>
              <label for="email" class="p1 bold">Email</label>
          <input type="text" id="email" name="email" placeholder="Введіть email" required>
          </div>

          <div style="margin-bottom: 24px;">
              <label for="psw" class="p1 bold">Пароль</label>
          <input type="password" id="psw" name="password" placeholder="Введіть пароль" required>
          </div>


          <button type="submit" class="button" style="width: 156px;">Увійти</button>

          <p class="p1 medium"><a href="{% url 'register-applicant' %}">Створити акаунт.</a></p>
          <p class="p1 medium"><a href="{% url 'register-recruiter' %}">Реєстрація для роботодавців.</a></p>
      </form>
  </div>


</body>

</html>