body{
    background-color: #EEEEEE;
}

/* nav bars in header */
.header{
    height: 100px;
    background-color: #073466;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 44px;
}

.nav{
    height: 100px;
    display: flex;
    align-items: center;
    /*margin-left: 40px;
    margin-right: 40px;*/
}

.nav .linksL {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.nav a{
    display: block;
    color: #EEEEEE;
    text-align: center;
    justify-content: start;
    /*padding: 14px 16px;*/
    text-decoration: none;
    text-transform: uppercase;
}

.nav .header-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .linksR {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*gap: 24px;*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn{
    font-size: 20px;
    color: #EEEEEE;
    background-color: #073466;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 20px 0px;
    margin: 0;
    border: 0;
    font-size: 20px;
    font-weight: 500;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    border: 2px solid #EEEEEE;
    border-radius: 8px;
    background-color: #073466;
    /*background-color: #C4C5E0;*/
    width: 200px;
    z-index: 3;
}

.dropdown-content a {
    float: none;
    padding: 16px 16px 16px 4px;

    color: #EEEEEE;
    text-transform: none;
    text-align: right;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #37597F;
    text-decoration: none;
}

.dropdown-content .a1:hover{
    border-radius: 8px 8px 0 0;

}
.dropdown-content .a2:hover{
    border-radius: 0 0 8px 8px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.nav a:visited {
    color: #EEEEEE;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

.nav a:active {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}*/

/* nav bars in footer */

.footer{
    height: 360px;
    background-color: #073466;
    padding-top: 42px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    margin-top: 160px;
}

.footer-gap{
    display: flex;
    flex-direction: column;
    gap: 92px;
}

.footer .footerRow{
    overflow: hidden;
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    gap: 160px;
}

/*.footer .linkRow{
    display: flex;
    flex-wrap: wrap;
    gap: 160px;
}*/

.footerCol ul, li{
    margin: 0;
    padding: 0;
}

.footerCol .items li{
    align-items: left;
    list-style: none;
    margin-bottom: 24px;
}

.footerCol .items li a{
    color: #EEEEEE;
    text-decoration: none;
}
.footerCol .items li a:hover {
    color: #EEEEEE;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}
.footerCol .items li a:visited {
    color: #EEEEEE;
    text-decoration: none;
}

.footerCol .items li a:active {
    color: #EEEEEE;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

/* alerts */

.alert{
    overflow: hidden;
    display: flex;
    padding: 2px 20px 2px 20px;
    justify-content: space-between;
    align-items: center;
    margin: 8px 40px 0px 40px;
    border-radius: 8px;
    border: 3px solid #E8695E;
    background: #EEC3C3;
    z-index: 3;
}

.a-alert{
    color: #071013;
}
.a-alert:visited {
    color: #071013;
    text-decoration: none;
}

.a-alert:hover {
    color: #071013;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1.5px;
}

.a-alert:active {
    color: #071013;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1.5px;
}

.temporary{
    position: fixed;
    width: auto;
    bottom: 0;
    right: 0;
    animation: hide 1s linear 5s 1 forwards;
}

@keyframes hide {
    to {
        opacity: 0;
    }
}

.sticky{
    position: sticky;
    top: 0;
}

/* typography */

:root{
    font-family: Roboto, sans-serif;
    font-style: normal;
    line-height: normal;
}

h1{
    color: #071013;
    font-size: 96px;
    font-weight: 700;
}

.h2{
    color: #071013;
    font-size: 60px;
}


.h3 {
    color: #071013;
    font-size: 36px;
}

.h4 {
    color: #071013;
    font-size: 28px;
}

.h5 {
    color: #071013;
    font-size: 24px;
}

.h6 {
    color: #071013;
    font-size: 20px;
}

.p1 {
    color: #071013;
    font-size: 18px;
}

.p2 {
    color: #071013;
    font-size: 12px;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

a:active {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

a bnt-a{
    text-decoration: none;
}

a bnt-a:visited {
    text-decoration: none;
}

a bnt-a:hover {
    text-decoration: none;
}

a bnt-a:active {
    text-decoration: none;
}

a download-link{
    color: #071013;
}
a download-link:visited {
    color: #071013;
    text-decoration: none;
}

a download-link:hover {
    color: #071013;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

a download-link:active {
    color: #071013;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

/* line */

.line {
    margin: 0;
    border-width: 2px;
    color: #919191;
}

/* buttons */

button{
    text-decoration: none;
}

.button {
    display: inline-flex;
    height: 44px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    /*gap: 10px;*/
    border-radius: 8px;
    background-color: #10529A;
    color: #EEEEEE;
    align-self: stretch;
    border: 0;

    font-family: Roboto, sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    font-weight: 500;

}

.button:hover {
    text-decoration: none;
    background-color: #276FBF;
}

.button:active {
    text-decoration: none;
    background-color: #073466;
}

.button:disabled {
    text-decoration: none;
    background-color: #B8B8B7;
}

.button-outline {
    display: inline-flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 3px solid #10529A;
    border-radius: 8px;
    background-color: #EEEEEE;

    color: #10529A;
    font-family: Roboto, sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    font-weight: 400;
}

.button-outline:hover {
    border: 3px solid #276FBF;
    color: #276FBF;
    text-decoration: none;
}

.button-outline:active {
    background-color: #C4C5E0;
    text-decoration: none;
}

.button-outline:disabled {
    border: 3px solid #B8B8B7;
    color: #B8B8B7;
    text-decoration: none;
}

/* form elements */
.checkbox{
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
}

input, textarea, select{
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    border: 3px solid #071013;
    background-color: #EEEEEE;
    z-index: 1;

    margin-top: 4px;
    padding: 8px 8px;
    align-self: stretch;

    color: #071013;
    font-size: 18px;
    font-weight: 400;
}

input:focus{
    border: 2px solid #276FBF;
}

input:disabled{
    border: 2px solid #B8B8B7;
}

input:error{
    border: 2px solid #DB4C40;
}

textarea:focus{
    border: 3px solid #276FBF;
}

textarea:disabled{
    border: 3px solid #B8B8B7;
}

textarea:error{
    border: 3px solid #DB4C40;
}

select:focus{
    border: 3px solid #276FBF;
}

select:disabled{
    border: 3px solid #B8B8B7;
}

select:error{
    border: 3px solid #DB4C40;
}

/* Intro div */

#introHome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    overflow-x:hidden;
    height: 400px;
    background-color: #C4C5E0;
}

#introText{
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;
    padding-left: 40px;
}

#introImg{
    overflow: hidden;
    max-width:50vw;
}

/* Search Section */

#searchSection{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 44px;
    /*padding-bottom: 160px;*/
}

#searchInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    margin-bottom: 24px;

}

/* Search Results */

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* vacancy card */

.my-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 636px;
    height: 300px;
    border-radius: 8px;
    background-color: #C4C5E0;
    padding: 20px;
}

.card-title{
    display: flex;
    justify-content: space-between;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.card-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.card-info p{
    overflow: hidden;
    text-justify: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

/* when no results */

.no-results{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;

}

/* for icons + text */

.pIcon{
    color: #919191;
    font-family: Roboto, sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
}

.icon {
      width: 1.125em;
      height: 1.125em;
      vertical-align: -0.125em;
    }

.icon, .text {
  vertical-align: middle;
  display: inline-block;
}

.align-content{
    display: flex;
    flex-direction: row;
    position:relative;
    gap: 4px;
    margin: 6px 0px;
}

/* Job layout */
#details{
    display: flex;
    flex-direction: row;
    gap: 80px;
    position:relative;
    overflow-x:hidden;
    padding-left: 40px;
    padding-right: 40px;
    /*padding-bottom: 160px;*/
}

#spanRow{
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 24px;
    margin-bottom: 24px;
}

.mini-table{
    width: 444px;
    display: flex;
    justify-content: space-between;
}

.mini-table p{
    margin: 0;
    padding:0;
}

#details .container{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 40px;
}

.right-content h5{
    margin-top: 18px;
    margin-bottom: 24px;
}

.right-content p{
    overflow: hidden;
    text-justify: auto;
}

/* page title */
.page-title{
    position: relative;
    width: 620px;
    gap: 18px;
    text-align: center;
    margin: 0 auto;

 }

 /* for forms */

 .form-section{
    display: flex;
    justify-content: center;

 }

.containerF{
    display:flex;
    flex-direction: column;
    gap: 18px;
 }

 .form-item{
    width: 434px;
 }

.upload{
    height: auto;
    padding: 0;
    margin: 0;
    border-width: 0;
    border-radius: 0;
}

/* table */

.table-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.table-row{
    display: flex;
    height: 56px;
    width: 720px;
    overflow: hidden;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #D9D9D9;
}

.pseudo-line{
    border-left: 2px solid #37597F;
    height: 32px;
}

.table-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.table-icon{
    display: flex;
    width: 160px;
    flex-direction: row;
    justify-content: space-between;
    /*gap: 16px;*/
}

.btn-icon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 0;
}

.btn-view{
    background: #276FBF;
}

.btn-view:hover {
    text-decoration: none;
    background: #10529A;
}

.btn-mod{
    background: #919191;
}

.btn-mod:hover {
    text-decoration: none;
    background: #626262;
}

.btn-delete{
    background: #E8695E;
}

.btn-delete:hover {
    text-decoration: none;
    background: #B5392F;
}

/* whatever details */
.section-container{
    display: flex;
    justify-content: center;
}

.details-container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.details-table{
    display: flex;
    padding: 16px 24px;
    align-items: center;
    gap: 72px;

    border-radius: 8px;
    background: #D9D9D9;
}

.details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailsL{
    align-items: flex-start;
    gap: 36px;
}

.detailsLine{
    align-items: flex-start;
    gap: 20px;
}

.detailsR{
    align-items: flex-end;
    gap: 36px;
    align-self: stretch;
}