{% load static %}
{% load humanize %}
{% load widget_tweaks%}

<section id="searchSection">
        <form id="searchInputs" method="GET">
            <div>
                <label class="p1 bold">Посада</label>
                {% render_field filter.form.title class="form-control" %}
            </div>
            <div>
                <label class="p1 bold">Індустрія</label>
                {% render_field filter.form.industry class="form-control" %}
            </div>
            <div>
                <label class="p1 bold">Область</label>
                {% render_field filter.form.region class="form-control" %}
            </div>
            <div>
                <label class="p1 bold">Тип роботи</label>
                {% render_field filter.form.type class="form-control" %}
            </div>
            <button type="submit" class="button" style="margin-top: 23px;">Знайти вакансії</button>
        </form>

        <div class="container" style="gap: 24px;">
            {% if filter %}
            {% if filter.qs %}
            {% for job in filter.qs %}
            <div class="my-card">
                    <div class="card-title">
                        <h4 class="h4 bold" style="margin: 0;">{{job.title|truncatechars:30}}</h4>
                        <h4 class="h4 regular" style="margin: 0;">{{job.salary|intcomma}} UAH</h4>
                    </div>
                        <hr class="line" style="margin: 20px 0px 12px; color: #37597F">

                <div class="card-info">
                    <div class="card-icons">
                        <span class="align-content">
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true" focusable="false" viewBox="0 0 384 512">
                                <path fill="#37597F" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                            </span>
                            <span class="pIcon text" style="color: #37597F">{{job.location}}</span>
                        </span>

                        <span class="align-content">
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true" focusable="false" viewBox="0 0 576 512">
                                <path fill="#37597F" d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
                            </span>
                            <span class="pIcon text" style="color: #37597F">{{job.type}}</span>
                        </span>
                    </div>

                <div>
                    <p class="p1 regular" style="color: #37597F">{{job.reqs}}</p>
                </div>
                </div>

                <div style="margin-top: auto;">
                    <a href="{% url 'job-details' job.pk %}" class="bnt-a"><button role="link" class="button-outline">Переглянути</button></a>
                </div>

            </div>
        {% endfor %}
        {% else %}
        </div>

    <div class="no-results">
        <h4 class="h4 bold" style="color: #767676; margin: 0;">Тут нічого :(</h4>
        <p class="p1 regular" style="color: #767676; margin: 0;">Введіть інший запит</p>
    </div>

        {% endif %}
    {% endif %}

    </section>