{% load static %}

<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>


<body>
    <div class="header" style="margin-bottom: 0px;">
        {% block head_nav %}
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}

    {% if messages %}
      {% for messages in messages %}
        <div class="alert temporary" style="width: auto; margin-right: 0px;">
            <p class="p1 medium"> {{ messages }} </p>
        </div>
      {% endfor %}
      {% endif %}

    <div class="footer">
        <div class="footer-gap">
        <div class="footerRow">
            {% block foot_nav %}
            {% endblock %}
        </div>
            <div>
        <hr class="line" style="color: #C4C5E0; width: 1420px;">
        <p class="p1 regular" style="color: #C4C5E0;">Курсова робота з програмування студентки групи ІС-32 Топки Тіни</p>
            </div>
        </div>
    </div>

</body>

</html>