{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Нова вакансія{% endblock %}
{% block head_nav %}
        {% include 'base_header.html' %}
{% endblock head_nav %}

{% block content %}
<div class="page-title">
    <h3 class="h3 bold" style="padding: 0px 40px; margin-bottom: 18px; ">Нова вакансія</h3>
    <hr class="line" style="margin: 0; margin-bottom: 44px;">
</div>

<section class="form-section">
<form class="containerF" method="POST">
    {% csrf_token %}
    <div>
        <label class="p1 bold">Назва посади</label>
        {% render_field form.title class="form-control" %}
        <!--<input type="text" id="title" name="title" placeholder="Введіть назву посади" class="form-item" required>-->
    </div>
    <div>
        <label class="p1 bold">Індустрія</label>
        {% render_field form.industry class="form-control" %}
                <!--<select name="form.industry" id="industry" class="form-item" required>
                    {% for x in form.industry %}
                    <option value="{{x}}"></option>
                    {% endfor %}
                </select>-->
    </div>
    <div>
        <label class="p1 bold">Заробітня плата</label>
        {% render_field form.salary class="form-control" %}
         <!--<input type="text" id="salary" name="salary" placeholder="Введіть заробітню плату" class="form-item" required>-->
    </div>
    <div>
        <label class="p1 bold">Тип роботи</label>
        {% render_field form.type class="form-control" %}
                <!--<select name="form.type" id="type" class="form-item" required>
                    {% for x in form.type %}
                    <option value="{{x}}"></option>
                    {% endfor %}
                </select>-->
    </div>
    <div>
        <label class="p1 bold">Область</label>
        {% render_field form.region class="form-control" %}
                 <!--<select name="form.region" id="region" class="form-item" required>
                    {% for x in form.region %}
                    <option value="{{x}}"></option>
                    {% endfor %}
                </select>-->
    </div>
    <div>
        <label class="p1 bold">Населений пункт</label>
        {% render_field form.location class="form-control" %}
         <!--<input type="text" id="location" name="location" placeholder="Введіть населений пункт" class="form-item" required>-->
    </div>
    <div>
        <label class="p1 bold">Вимоги</label>
        {% render_field form.reqs class="form-control" %}
         <!--<input type="text" id="reqs" name="reqs" placeholder="Введіть вимоги" class="form-item" style="height: 100px;" required>-->
    </div>

    <div class="align-content" style="align-items: center; gap: 16px; margin: 0;">
            <input type="checkbox" id="is_available" name="is_available" class="checkbox">
            <label for="is_available" class="p1 regular">Публічне</label>
    </div>

    <div>
        <button type="submit" class="button" style="width: 217px; margin-top: 14px">Зберегти</button>
    </div>
</form>
</section>


{% endblock content %}

{% block foot_nav %}
        {% include 'base_footer.html' %}
{% endblock foot_nav %}