{% extends 'base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}
{% block head_nav %}
        {% include 'base_header.html' %}
{% endblock %}

{% block content %}
    <div id="introHome">
        <div id="introText">
            <h2 class="h2 bold" style="margin: 0px;">Шукаєте роботу?</h2>
            <hr class="line" style="width: auto; color: #37597F; margin: 0;">
            <h5 class="h5 medium" style="color: #37597F; margin: 0px;">Перегляньте вакансії за вашими критеріями та знайдіть свою ідеальну позицію.
                <br>Зробіть перший крок до успіху вже зараз!</h5>
            <a class="bnt-a" href="{% url 'register-applicant' %}" style="width: 172px;"><button class="button">Створити акаунт</button></a>
        </div>
        <div id="introImg">
            <img src="{% static 'office_people.jpg' %}" style="width: 720px; height: 400px; float: right;">
        </div>
    </div>
{% include 'website/job_listing.html' %}
{% endblock %}

{% block foot_nav %}
    {% include 'base_footer.html' %}
{% endblock %}