{% extends 'base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}
{% block head_nav %}
        <div class="nav">
            <div class="linksL">
               <a class="h6 medium" href="{% url 'home' %}">Пошук вакансій</a>
            </div>
            <h3 class="header-title h3 bold" style = "color: #EEEEEE;">JobFinder</h3>
            <div class="linksR">
                <a class="h6 medium" href="{% url 'login' %}" style="float:right;">Увійти в акаунт</a>
            </div>
        </div>
{% endblock %}

{% block content %}
    <div id="introHome">
        <div id="introText">
            <h2 class="h2 bold">JobFinder</h2>
            <hr class="line" style="width: 460px;">
            <h5 class="h5 medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
        </div>
        <div id="introImg">
            <img src="{% static 'office_people.jpg' %}" style="width: 720px; height: 400px; float: right;">
        </div>
    </div>
{% include 'website/job_listing.html' %}
{% endblock %}

{% block foot_nav %}
    <div class="footerCol">
                <ul class="items">
                    <li class="p1 bold"><a href="{% url 'home' %}">Головна</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <ul class="items">
                    <li class="p1 regular"><a href="{% url 'login' %}">Вхід в акаунт</a></li>
                    <li class="p1 regular"><a href="{% url 'register-applicant' %}">Реєстрація для шукачів</a></li>
                    <li class="p1 regular"><a href="{% url 'register-recruiter' %}">Реєстрація для роботодавців</a></li>
                </ul>
            </div>
            <div class="footerCol" style="margin-left: auto; text-align: right;">
                <ul class="items" style="align-items: center;">
                    <li><h5 class="h5 bold" style="color: #EEEEEE; margin-bottom: 0;">JobFinder</h5></li>
                    <li><p class="p1 regular" style="color: #C4C5E0;">Розпочни свою кар'єру</p></li>
                </ul>
        </div>
{% endblock %}