{% extends 'base.html' %}
{% load static %}
{% block title %}Головна{% endblock %}
{% block head_nav %}
{% if request.user.is_applicant %}
        <div class="nav">
            <div class="linksL">
               <a class="h6 medium" href="{% url 'dashboard' %}">Пошук вакансій</a>
                <a class="h6 medium" href="{% url 'job-listing' %}">Збережені вакансії</a>
            </div>
            <h3 class="header-title h3 bold" style = "color: #EEEEEE;">JobFinder</h3>
            <div class="linksR">
                <a class="h6 medium" href="#" style="float:right;">Профіль</a>
            </div>

        </div>

{% elif request.user.is_recruiter %}
        <div class="nav">
            <div class="linksL">
                <a class="h6 medium" href="{% url 'dashboard' %}">Пошук вакансій</a>
                <a class="h6 medium" href="{% url 'job-listing' %}">Керування вакансіями</a>
            </div>

            <h3 class="header-title h3 bold" style = "color: #EEEEEE;">JobFinder</h3>
            <div class="linksR">
               <a class="h6 medium" href="{% url 'job-listing' %}" style="float:right;">Огляд кандидатів</a>
                <a class="h6 medium" href="#" style="float:right;">Профіль</a>
            </div>

        </div>
{% endif %}
{% endblock head_nav %}

    {% block content %}
        {% include 'website/job_listing.html' %}
    {% endblock content %}

{% block foot_nav %}
{% if request.user.is_applicant %}
        <div class="footerCol">
                <ul class="items">
                    <li class="p1 bold"><a href="{% url 'home' %}">Головна</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <ul class="items">
                    <li class="p1 regular"><a href="{% url 'job-listing' %}">Збережені вакансії</a></li>
                    <li class="p1 regular"><a href="{% url 'update-resume' %}">Резюме</a></li>
                    <li class="p1 regular"><a href="{% url 'logout' %}">Вийти з акаунта</a></li>
                </ul>
            </div>
            <div class="footerCol" style="margin-left: auto; text-align: right;">
                <ul class="items" style="align-items: center;">
                    <li><h5 class="h5 bold" style="color: #EEEEEE; margin-bottom: 0;">JobFinder</h5></li>
                    <li><p class="p1 regular" style="color: #C4C5E0;">Розпочни свою кар'єру</p></li>
                </ul>
        </div>

{% elif request.user.is_recruiter %}
        <div class="footerCol">
                <ul class="items">
                    <li class="p1 bold"><a href="{% url 'home' %}">Головна</a></li>
                </ul>
            </div>
        <div class="footerCol">
                <ul class="items">
                    <li class="p1 regular"><a href="{% url 'login' %}">Керування вакансіями</a></li>
                    <li class="p1 regular"><a href="{% url 'register-applicant' %}">Додати вакансію</a></li>
                    <li class="p1 regular"><a href="{% url 'register-recruiter' %}">Огляд кандидатів</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <ul class="items">
                    <li class="p1 regular"><a href="{% url 'register-applicant' %}">Компанія</a></li>
                    <li class="p1 regular"><a href="{% url 'logout' %}">Вийти з акаунта</a></li>
                </ul>
            </div>
            <div class="footerCol" style="margin-left: auto; text-align: right;">
                <ul class="items" style="align-items: center;">
                    <li><h5 class="h5 bold" style="color: #EEEEEE; margin-bottom: 0;">JobFinder</h5></li>
                    <li><p class="p1 regular" style="color: #C4C5E0;">Розпочни свою кар'єру</p></li>
                </ul>
        </div>
{% endif %}
{% endblock foot_nav %}