<html>

<head>
  <meta charset="utf-8" />
    <link rel="stylesheet" href="D:\uni\prog_basics\курсова_робота\djangodb\djangodb\style\style.css">
  <title>JobFinder</title>
</head>


<body>
    <div class="header">
        <div class="nav">
            <a href="#">Пошук вакансій</a>
            <h3 class="h3 bold" style = "text-align:center"></h3>
            <a href="#" style="float:right">Увійти в акаунт</a>
        </div>
    </div>

    <div id="#introHome">
        <div id="#introText">
            <h2 class="h2 bold">JobFinder</h2>
            <hr class="line" style="width: 460px">
            <h5 class="h5 medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
        </div>
        <div id="#introImg">
            <img src="D:\uni\prog_basics\курсова_робота\djangodb\djangodb\photos\office_people.jpg">
        </div>
    </div>

    <div class="footer">
        <div class="footerRow">
            <div class="footerCol">
                <ul class="h5 regular links">
                    <li class="bold"><a href="#">Головна</a></li>
                </ul>
            </div>
            <div class="footerCol">
                <ul class="h5 regular links">
                    <li><a href="#">Вхід в акаунт</a></li>
                    <li><a href="#">Реєстрація для шукачів</a></li>
                    <li><a href="#">Реєстрація для роботодавців</a></li>
                </ul>
            </div>
        </div>
        <hr class="line" style="width: 1361px">
        <h5 class="h5 regular" style="color: #D6D6D6">Курсова робота з програмування студентки групи ІС-32 Топки Тіни</h5>
    </div>

</body>

</html>