{% load static %}

{% if request.user.is_applicant %}
        <div class="nav">
            <div class="linksL">
               <a class="h6 medium" href="{% url 'dashboard' %}">Пошук вакансій</a>
                <a class="h6 medium" href="{% url 'job-listing' %}">Збережені вакансії</a>
            </div>
            <h3 class="header-title h3 bold" style = "color: #EEEEEE;">JobFinder</h3>
            <div class="linksR">
                <a class="h6 medium" href="#" style="float:right;">Профіль</a>
            </div>

        </div>

{% elif request.user.is_recruiter %}
        <div class="nav">
            <div class="linksL">
                <a class="h6 medium" href="{% url 'dashboard' %}">Пошук вакансій</a>
                <a class="h6 medium" href="{% url 'job-listing' %}">Керування вакансіями</a>
            </div>

            <h3 class="header-title h3 bold" style = "color: #EEEEEE;">JobFinder</h3>
            <div class="linksR">
               <a class="h6 medium" href="{% url 'job-listing' %}" style="float:right;">Огляд кандидатів</a>
                <a class="h6 medium" href="#" style="float:right;">Профіль</a>
            </div>

        </div>
{% endif %}